In [1]:
import sqlite3
import pandas as pd

In [11]:
def read_SQL():
    query_lunch = """SELECT l.lunch_number, l.datetime, vacation, worker_number, real_number, biztrip_number, overtime_number, telecom_number, vacation_number, new_lunch, lunch_rice, temperature, rain, wind, humidity, discomfort_index, perceived_temperature
    FROM lunch as l, weather as w, hr as h, calendar as c
    WHERE l.datetime = w.datetime
    AND w.datetime = h.datetime
    AND h.datetime = c.datetime;"""

    query_dinner = """SELECT dinner_number, d.datetime, vacation, worker_number, real_number, biztrip_number, overtime_number, telecom_number, vacation_number, new_dinner, dinner_rice, temperature, rain, wind, humidity, discomfort_index, perceived_temperature
    FROM dinner as d, weather as w, hr as h, calendar as c
    WHERE d.datetime = w.datetime
    AND w.datetime = h.datetime
    AND h.datetime = c.datetime;"""

    lunch_col = ['lunch_number', 'datetime', 'vacation', 'worker_number', 'real_number', 'biztrip_number', 'overtime_number', 'telecom_number', 'vacation_number', 'new_lunch', 'lunch_rice', 'temperature', 'rain', 'wind', 'humidity', 'discomfort_index', 'perceived_temperature']
    dinner_col = ['dinner_number', 'datetime', 'vacation', 'worker_number', 'real_number', 'biztrip_number', 'overtime_number', 'telecom_number', 'vacation_number', 'new_dinner', 'dinner_rice', 'temperature', 'rain', 'wind', 'humidity', 'discomfort_index', 'perceived_temperature']

    q_list = [query_lunch, query_dinner]
    df_list = []

    conn = sqlite3.connect('data/database.db')
    cursor = conn.cursor()
    for q in q_list:
        cursor.execute(q)
        data = []
        for row in cursor:
            data.append(row)
        df_list.append(data)   
    cursor.close

    return pd.DataFrame(df_list[0], columns=lunch_col), pd.DataFrame(df_list[1], columns=dinner_col)

In [12]:
lunch, dinner = read_SQL()

In [13]:
lunch

,lunch_number,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_lunch,lunch_rice,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,1039,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,867,2016-02-02,0,2601,2378,173,319,0,50,N,밥,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,1017,2016-02-03,0,2601,2365,180,111,0,56,N,카레덮밥,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,978,2016-02-04,0,2601,2277,220,355,0,104,N,밥,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,925,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228,3.0734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,1093,2021-01-20,0,2983,2319,198,4,391,75,N,밥,-0.4,0.0,0.5,64.0,36.57056,2.553014
1201,832,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744,7.774119
1202,579,2021-01-22,0,2983,2177,248,1,303,255,N,전주비빔밥*약고추장,7.0,1.2,0.5,97.5,44.78425,9.778207
1203,1145,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246,8.1634
1204,1015,2021-01-26,0,2983,2369,183,551,362,69,N,밥,4.7,10.3,0.6,94.5,40.990585,7.280678

In [14]:
dinner

,dinner_number,datetime,vacation,worker_number,real_number,biztrip_number,overtime_number,telecom_number,vacation_number,new_dinner,dinner_rice,temperature,rain,wind,humidity,discomfort_index,perceived_temperature
0,331,2016-02-01,0,2601,2401,150,238,0,50,N,밥,-0.6,0.0,1.3,43.9,39.275534,0.641548
1,560,2016-02-02,0,2601,2378,173,319,0,50,N,콩나물밥*양념장,-2.3,0.0,0.8,47.5,36.562925,-0.160634
2,573,2016-02-03,0,2601,2365,180,111,0,56,N,밥,-1.7,0.0,0.6,57.1,35.796707,0.964631
3,525,2016-02-04,0,2601,2277,220,355,0,104,N,미니김밥*겨자장,-0.2,0.0,0.7,53.4,38.396068,2.181494
4,330,2016-02-05,1,2601,2142,181,34,0,278,N,밥,1.3,0.0,1.0,44.4,41.575228,3.0734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,421,2021-01-20,0,2983,2319,198,4,391,75,N,김치볶음밥,-0.4,0.0,0.5,64.0,36.57056,2.553014
1201,353,2021-01-21,0,2983,2309,231,462,351,92,N,밥,5.2,1.7,0.6,77.8,43.391744,7.774119
1202,217,2021-01-22,0,2983,2177,248,1,303,255,N,밥,7.0,1.2,0.5,97.5,44.78425,9.778207
1203,502,2021-01-25,0,2983,2396,153,616,327,107,N,밥,6.3,0.0,1.0,75.8,45.291246,8.1634
1204,480,2021-01-26,0,2983,2369,183,551,362,69,Y,잔치국수,4.7,10.3,0.6,94.5,40.990585,7.280678